<div class="form-container container">
  <%= render 'form' %>
  <em style="display:block">To add a snippet of code to this article, simply place it inside of a code tag eg. &lt;code lang="ruby">&lt;/code&gt;</em>
  <span><%= link_to 'Show', @article, class: 'action' %> | <%= link_to 'Back', articles_path, class: 'action' %></span>
</div>
