/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: #555!important;
}

.edit_article input[type='text'], .edit_article textarea, .new_article input[type='text'], .new_article textarea {
	width: 320px;
}

#new_user .field_with_errors {
	background-color: #fff;
	color: red;
}

.sidebar-search {
	float: right;
	position: relative;
	top: 12px;
}

#search-box {
	background: #f4f4f4;
	padding: 3px	
}

#error_explanation {
	width: 320px!important;
}

textarea {
	min-height: 150px;
}

#application {
	background: #f4f4f4;
}

.body {
	background: #f4f4f4;
}

.light-text {
	color: #888;
}

.form-container {
	width: 960px!important;
}

#page-content-wrapper {
	width: 960px;
	margin: 0 auto;
}

.row {
	border-bottom: 1px solid #aaa;
}

.navbar, .alert {
	margin-bottom: 0px!important;
}

a.action {
	color: #1abc9c!important;
	margin-bottom: 10px;
	display: inline-block;
}

a.new {
	color: #7f8c8d!important;
	position: relative;
	top: 20px;
}

a.action:hover, a.new:hover {
	background: none;
}